.clear1{
    width: 45%;
    float: left;
}
.clear2{
    width: 45%;
    float: right;
    
}
.train_par{
    clear: left;
}
.pika{
    float: left;
    
}
.pengu{
    float: left;
}
.thom{
    float: right;
}

.base_par{
    clear: right;
}
