@import "https://fonts.googleapis.com/css?family=Fira Sans";
@import "https://fonts.googleapis.com/css?family=Gelasio";

body {
    background: url("../images/landscape.jpg") no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'gallery main main main main main'
      'gallery footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
  }
  
.container_top{
    grid-area: header;
}

.container_image{
    margin: 2% 0 2% 0;
    display: grid;
    justify-content: center; 
}

.header_image{
    width: 500px;
    height: 300px;
    border-radius: 10%;
    filter: drop-shadow(30px 10px 4px #050505);
    transform: rotate(10deg);
}

.container_title{
    font-family: 'Fira Sans';
    font-size: 27px;
    display: grid;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.gallery{
    grid-area: gallery;
    display: table-cell;
}

.container_body{
    display: table;
    justify-content: center;
    align-items: center;
}

.frame{
    width: 400px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.outer-wrapper{
    display: inline-block; 
    margin: 10px;
    left: 0;
}

.container_paragraph{
    font-family: 'Gelasio';
    grid-area: main;
    text-align: center;
    columns: 300px 4;
    margin: 0 30px 30px 0;
}

.blockquote{
    font-family: 'Gelasio';
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgba(153, 7, 63, 0.952);
    width: 63%;
    float:right;
    margin:0 0 0 5px;
}
.blockimage{
    width: 50%;
    float:left;
    margin:0 0 0 14px;
}

.footer{
    grid-area: footer;
    font-style: italic;
    margin-left: 40px;
}

@media screen and (max-width: 800px){
    .container_body{
        /* display: flex; */
        flex-flow: column;
    }
    .container_paragraph{
        order: 1;
        text-align: center;
        columns:1;
        margin: 0 30px 30px 0;
    }
    
    .gallery{
        order: 2;
        display: grid;
    }
    
    
}