body {
    background: url("../images/landscape.jpg") no-repeat;
    background-size: cover;
}
.container_image{
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: center; 
}
.container_header{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
}

.header_image{
    width: 500px;
    height: 300px;
    border-radius: 10%;
    filter: drop-shadow(30px 10px 4px #050505);
    transform: rotate(10deg);
}

.container_body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    width: 400px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.outer-wrapper{
    display: inline-block; 
    margin: 10px;
    left: 0;
}

.container_paragraph{
    text-align: center;
    columns: 300px 4;
    margin: 0 30px 30px 0;
}

.blockquote{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgba(153, 7, 63, 0.952);
    width: 50%;
    float:right;
    margin:0 0 0 14px;
}
.blockimage{
    width: 50%;
    float:left;
    margin:0 0 0 14px;
}

.footer{
    font-style: italic;
    margin-left: 40px;
}

@media screen and (max-width: 800px){
    .container_body{
        display: flex;
        flex-flow: column;
    }
    .container_paragraph{
        order: 1;
        text-align: center;
        columns:1;
        margin: 0 30px 30px 0;
        z-index: 1;
    }
    
    .gallery{
        order: 2;
        display: grid;
    }
    
    
}